node_modules
test/wcc/**/*-output.json
test/wcsc/**/*-output.json
test/wcc/**/*-output.js
test/wcsc/**/*-output.js
test/wcc/**/*_output.json
test/wcsc/**/*_output.json
test/wcc/**/*_stderr.json
test/wcsc/**/*_stderr.json
test/wcc/**/linux_err.js
test/wcsc/**/linux_err.js
nwjs